<!--Base html for both each individual college page and my colleges page-->
<!DOCTYPE html>
<html>
<head>
	<title>Collegeit - My Colleges</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/my-colleges.css')}}">
</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="/home">Collegeit</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/home">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/mycolleges">My Colleges</a>
			</li>
		  </ul>
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a href="/logout" class="btn btn-outline-success" role="button" aria-disabled="true">Log Out</a>
			</li>
		  </ul>
		</div>
	  </nav>
	<div class="container-fluid">
		{% block title %}
        {% endblock %}
        {% block content %}
        {% endblock %}
		<div class="row">
			<div class="col-md-10 offset-md-1 my-college-panel">
				<h3>Create Post</h3>
				<form action="#" method="POST">
					<label for="school">College:</label>
					<input type="text" class="form-control" name="school" placeholder="Enter College Name">
					<label for="hash">Tags:</label>
					<input type="text" class="form-control" name="hash" placeholder="Enter Tags (separated by spaces)">
					<label for="body">Body:</label>
					<input type="text" class="form-control" name="body" placeholder="Share something here!">
					<button type="submit" name="login-btn" class="btn btn-primary btn-block btn-lg">Submit</button>
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>
