<!DOCTYPE html>
<html>
<head>
	<title>Collegeit - Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/signup.css')}}">
</head>
<body>
	<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
		
		<div class="form-div">
            <h1 class="title">Collegeit</h1>
            <h1 class="login-title text-center">Sign Up</h1>
			<form action="#" method="POST">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" name="uname" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" name="pw" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label for="confirm-password">Confirm Password:</label>
					<input type="password" class="form-control" name="confirm-password" placeholder="Confirm password">
					<small id="passwordHelpBlock" class="form-text text-muted">
  						Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
					</small>
				</div>
				<div class="form-group">
					<label for="colleges">Colleges of Interest:</label>
					<input type="text" class="form-control" name="interests" placeholder="Enter colleges of interest (separated by spaces)">
				</div>
				<button type="submit" class="btn btn-primary mt-4">Sign Up</button>
                <div class="mt-3">
                    <p class="text-white">Already a member? <a href="/login">Log in here.</a></p>
                </div>
			</form>
		</div>
		
	</div>
</body>
</html>
